
:root {
  box-sizing: border-box;
}
*,
::before,
::after {
  box-sizing: inherit;
}
body {
  background-color: #fff;
  font-family: Helvetica, Arial, sans-serif;
}
body * + * {
  margin-top: 1.5em;
}
header {
  padding: 1em 1.5em;
  color: #fff;
  background-color: #00b090;
  border-radius: .5em;
  margin-bottom: 1.5em;
  text-align: center;
}
.main {
  padding: 0 -1.5em;
}
.container2 {
  max-width: auto;
}
.destacado{
  float: left;
  margin: 0 1.5em 1.5em 0;
  width: 100%;
  padding: 0.25em;
  background-color: #00b090;
  color:white;
  border-radius: 0.5em;
  }
.media {
  float: left;
  margin: 0 1.5em 1.5em 0;
  width: calc(50% - 1.5em);
  padding: 0.25em;
  background-color: #00b090;
  border-radius: 0.5em;
  color:white;
}
.media:nth-child {
  clear: left;
}
.clearfix::before,
.clearfix::after {
  display: table;
  content: " ";
}
.clearfix::after {
  clear: both;
}


img{
  width: 100%;
}
.stars{
  font-size: 1.5em;
  color:white;
}

.str{
  color:white;
}

.menu{
  float:left;
}

.search{
  float:right;
}
@media (max-width: 800px) {
  .stars{
    font-size: 3em;
  }
  .destacado h3{
    font-size: 4em;
  }
  .media h3{
    font-size: 3em;
  }

  @media (max-width: 400px) {
    .stars{
      font-size: 3em;
    }
    .media h3{
      font-size: 3em;
    }
  }
